<div class="ca-wrapper">
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <span>US Covid Analytics</span>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav class="ca-sidenav" #sidenav mode="side" opened="false">
      <mat-nav-list>
        <mat-list-item [routerLink]="['']">
          <span>Home</span>
          <mat-icon mat-list-icon>home</mat-icon>
        </mat-list-item>
        <mat-list-item [routerLink]="['state']">
          <span>States</span>
          <mat-icon mat-list-icon>public</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <div class="ca-wrapper__content">
        <router-outlet></router-outlet>
      </div>	
    </mat-sidenav-content>
  
  </mat-sidenav-container>
</div>




